@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(15,7,37);
    background: linear-gradient(90deg, rgba(15,7,37,1) 0%, rgba(9,121,92,1) 54%, rgba(15,7,37,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container span{
    font-size: 8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    position: relative;
      
}

.hrs::after{
    content: "Hours";
    color: #000000;
    font-size: 0.3em;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.min::after{
    content: "Mins";
    color: #000000;
    font-size: 0.3em;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.sec::after{
    content: "Sec";
    color: #000000;
    font-size: 0.3em;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width:650px) {
    .container span{
        font-size: 6.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        position: relative;
          
    }
}
@media (max-width:450px) {
    .container span{
        font-size: 5.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        position: relative;
          
    }
}
@media (max-width:330px) {
    .container span{
        font-size: 4.7em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-family: "Protest Strike", sans-serif;
        font-weight: 400;
        position: relative;
          
    }
}